.Password { 
  background-color: rgb(122, 72, 72);
  border-radius: 25px;
  margin-bottom: 10px;
  margin: 20px;
  padding: 20px;
  margin-top: 50px;
}

.Name {
  background-color: rgb(56, 95, 88);
  border-radius: 25px;
  margin-bottom: 10px;
}

.Generate {
  background-color: rgb(144, 128, 128);
  border-radius: 25px;
  margin-bottom: 10px;
}

.Password button {
  margin: .5rem;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 0.5rem ;
  background-color: azure;
  color: rgb(68, 146, 179);
}
